# Información y Programación Financiera, TI, Algoritmos y Ciencia de Datos

Neftalí Valdez

<a href="http://twitter.com/neftalivldz" target="_blank">@neftalivldz</a> | <a href="mailto:nvaldez@tec.mx">nvaldez@tec.mx</a>

In [1]:
from datafromsource import DataFromSource

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#plt.style.use('dark_background')
import warnings
warnings.filterwarnings('ignore')

from numpy.random import random, uniform, dirichlet, choice
from numpy.linalg import inv
from scipy.optimize import minimize
from matplotlib.ticker import FuncFormatter
import math
from datetime import datetime, timedelta
import pandas_datareader.data as web

In [3]:
portfolio = ["AAPL.O", "TSLA.O", "GOOGL.O", 'MSFT.O', 'PPG.N', 'CX.N', 'GM.N']

Stock_0 = DataFromSource(portfolio[0], interval_period="1W", initial = 365*5)
Precios = Stock_0.get_prices()
Rendimientos = Stock_0.get_returns()
Rendimientos

AAPL.O        AAPL.O
Date
2020-09-04       NaN
2020-09-11 -0.076961
2020-09-18 -0.047166
2020-09-25  0.049663
2020-10-02  0.006569
...              ...
2025-08-01 -0.055268
2025-08-08  0.125102
2025-08-15  0.009719
2025-08-22 -0.016676
2025-08-29  0.019048

[261 rows x 1 columns]

In [4]:
portfolio = ["AAPL.O", "TSLA.O", "GOOGL.O", 'MSFT.O', 'PPG.N', 'CX.N', 'GM.N']

Stock_0 = DataFromSource(portfolio[0], interval_period="1W", initial = 365*5)
Precios = Stock_0.get_prices()

for stock in portfolio[1:]:
    print(stock)
    stock_info = DataFromSource(stock, interval_period="1W", initial = 365*5)
    w = stock_info.get_prices()
    w1 = w.rename(columns={'Price Close': stock})
    Precios = Precios.join(w1)
Precios

TSLA.O
GOOGL.O
MSFT.O
PPG.N
CX.N
GM.N

            AAPL.O      TSLA.O   GOOGL.O  MSFT.O   PPG.N  CX.N   GM.N
Date
2020-09-04  120.96  139.439861   79.0605  214.25  122.61  3.18  30.00
2020-09-11  112.00  124.239876   75.7880  204.03  127.10  3.79  30.46
2020-09-18  106.84  147.383186   72.5545  200.39  125.77  3.83  31.50
2020-09-25  112.28  135.779864   71.9530  207.82  120.25  3.59  29.00
2020-10-02  113.02  138.363195   72.7800  206.19  123.27  3.77  30.46
...            ...         ...       ...     ...     ...   ...    ...
2025-08-01  202.38  302.630000  189.1300  524.11  104.44  8.40  52.53
2025-08-08  229.35  329.650000  201.4200  522.04  106.95  8.62  53.53
2025-08-15  231.59  330.560000  203.9000  520.17  111.80  8.53  56.31
2025-08-22  227.76  340.010000  206.0900  507.23  114.27  8.90  58.37
2025-08-29  232.14  333.870000  212.9100  506.69  111.23  9.09  58.59

[261 rows x 7 columns]

In [1]:
from portfoliodata import PortfolioData
portfolio = PortfolioData(['AAPL.O', 'TSLA.O', 'GOOGL.O', 'MSFT.O', 'PPG.N', 'CX.N', 'GM.N'], interval_period="1W", initial = 365*5)
portfolio_prices = portfolio.get_portfolio_prices()

AAPL.O
TSLA.O
GOOGL.O
MSFT.O
PPG.N
CX.N
GM.N

In [2]:
portfolio_prices

            AAPL.O      TSLA.O   GOOGL.O  MSFT.O   PPG.N  CX.N   GM.N
Date
2020-09-04  120.96  139.439861   79.0605  214.25  122.61  3.18  30.00
2020-09-11  112.00  124.239876   75.7880  204.03  127.10  3.79  30.46
2020-09-18  106.84  147.383186   72.5545  200.39  125.77  3.83  31.50
2020-09-25  112.28  135.779864   71.9530  207.82  120.25  3.59  29.00
2020-10-02  113.02  138.363195   72.7800  206.19  123.27  3.77  30.46
...            ...         ...       ...     ...     ...   ...    ...
2025-08-01  202.38  302.630000  189.1300  524.11  104.44  8.40  52.53
2025-08-08  229.35  329.650000  201.4200  522.04  106.95  8.62  53.53
2025-08-15  231.59  330.560000  203.9000  520.17  111.80  8.53  56.31
2025-08-22  227.76  340.010000  206.0900  507.23  114.27  8.90  58.37
2025-08-29  232.14  333.870000  212.9100  506.69  111.23  9.09  58.59

[261 rows x 7 columns]

In [3]:
portfolio_returns = portfolio.get_portfolio_returns()

AAPL.O
TSLA.O
GOOGL.O
MSFT.O
PPG.N
CX.N
GM.N

In [4]:
portfolio_returns

,AAPL.O,TSLA.O,GOOGL.O,MSFT.O,PPG.N,CX.N,GM.N
Date,,,,,,,
2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-11,-0.076961,-0.115419,-0.042273,-0.048877,0.035966,0.175485,0.015217
2020-09-18,-0.047166,0.170822,-0.043602,-0.018002,-0.010519,0.010499,0.033573
2020-09-25,0.049663,-0.082001,-0.008325,0.036407,-0.044882,-0.064713,-0.082692
2020-10-02,0.006569,0.018847,0.011428,-0.007874,0.024804,0.048923,0.049119
...,...,...,...,...,...,...,...
2025-08-01,-0.055268,-0.043421,-0.021188,0.020043,-0.104546,-0.001190,-0.016426
2025-08-08,0.125102,0.085521,0.062958,-0.003957,0.023749,0.025853,0.018858
2025-08-15,0.009719,0.002757,0.012237,-0.003589,0.044350,-0.010496,0.050630
2025-08-22,-0.016676,0.028187,0.010683,-0.025191,0.021853,0.042462,0.035930
2025-08-29,0.019048,-0.018223,0.032557,-0.001065,-0.026964,0.021124,0.003762

In [5]:
1e4

10000.0